.element__delete-button {
  width: 18px;
  height: 19px;
  position: absolute;
  top: 18px;
  right: 15px;
  background: none;
  background-image: url(../../../images/trash-ico.svg);
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity .2s ease-out;
}

.element__delete-button:hover {
  opacity: .6;
}
