.popup__input {
  width: 100%;
  margin: 13px 0 5px;

  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
  padding: 0 0 13px;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
}

.popup__input:first-of-type {
  margin: 54px 0 5px 0;
}

@media screen and (max-width: 380px) {
  .popup__input {
    font-size: 12px;
    line-height: 1.25;
  }
}

